.right {
  float: right;
  width: 300px;
  border: 3px solid #B399D4;
  padding: 10px;
}
@font-face {
  font-family: "rivenshield";
  src: url(https://fonts.cdn.rem.lgbt/Roboto-Regular.ttf) format("truetype");
}
h1 { font-family: "rivenshield", sans-serif }
h2 { font-family: "rivenshield", sans-serif }
h3 { font-family: "rivenshield", sans-serif }
p { font-family: "rivenshield", sans-serif }
a { font-family: "rivenshield", sans-serif }
